:root {
  --header-height: 3.75rem;
  --primary: #3a76c4;
  --secondary: #385790;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --border-radius: 0.25rem;
}

$primary: #3a76c4;
$secondary: #385790;
$info: 	#903857;
$success: #7b8e55;
$warning: #f87e1d;
$danger: #f44336;
$light: #f9f9f7;
$dark: #1d2d4a;

$body-bg: #ffffff;
$body-color: #4c4f53;

$border-radius: 0.25rem;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1.225rem;

$input-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-btn-focus-color: #a7aab3;
$input-focus-border-color: #a7aab3;

$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif !important;
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1 0 auto; /* enable grow, disable shrink */
  max-width: 100%;
}

.navbar {
  height: 3.75rem;
  background-color: #1d2d4a;
  box-shadow: $box-shadow;
}

.card {
  padding: 1.25rem;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: $box-shadow;
}

.dropdown-menu {
  border: none;
  box-shadow: $box-shadow;
}

.dropdown .dropdown-menu {
  left: -120px;
}

.btn {
  color: #f9f9f7 !important;
  font-size: 0.85rem !important;
  font-weight: 500 !important;
  border-radius: 2rem !important;
}

.form-select,
.form-select:focus {
  box-shadow: none !important;
}

.modal-content {
  box-shadow: $box-shadow;
  border-radius: $border-radius !important;
}

.show {
  display: block !important;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

.data-table-footer {
  padding: 0 0.5rem;
}

.table thead tr:first-child {
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: normal;
}

.table-light th {
  background-color:  #f8f9fa !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter");
