@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    --header-height: 56px;
    --theme-primary: #0d152f;
    --theme-secondary: #252c43;
    --theme-box-shadow: 
        0 0 1px 1px rgba(29,17,51,.04),
        0 0 3px 2px rgba(9,32,77,.12),
        0 0 2px -3px rgba(29,17,51,.12);
    --border-radius: 0.225rem;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8;
}

main {
    flex: 1 0 auto; /* enable grow, disable shrink */
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: var(--theme-box-shadow);
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.outlet {
    margin: 1.5rem 1.5rem;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: var(--theme-box-shadow);
}

.container {
    max-width: 100%;
}

.btn {
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 0.375rem 1.5rem;
    height: 3rem;
    border-radius: var(--border-radius);
}

.btn-primary {
    background-color: var(--theme-primary);
    border-color: var(--theme-primary) !important;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--theme-primary) !important;
    border-color: var(--theme-primary) !important;
}

.form-control {
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
}

.form-control:not(textarea) {
    height: 3rem;
}

.form-control:focus,
.form-control:focus-within {
    border-color: none;
}

.show {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.bi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}