.side-panel {
    background-color: var(--theme-primary);
    user-select: none;
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.side-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    color: #ffffff;
    box-shadow: var(--theme-box-shadow);
    background-color: var(--theme-primary);
}

.panel-title {
    font-size: 1.25rem;
}

.panel-item {
    color: #d7d7d7;
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.panel-item:first-of-type {
    padding-top: 1rem;
}

.panel-item:last-of-type {
    padding-bottom: 1rem;
}

.panel-item a {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.panel-item-active,
.panel-item a:focus {
    background-color: var(--theme-secondary);
}

.panel-item a:hover:not(a:focus) {
    background-color: var(--theme-secondary);
}