.table {
    cursor: pointer;
    user-select: none;
}

.table th {
    font-weight: normal;
    text-transform: uppercase;
}

.table tr:hover {
    background-color: #0d152f1e !important;
}

.table-dark th {
    background-color: var(--primary) !important;
}

.lg-table tr {
    line-height: 3.5rem;
    min-height: 3.5rem;
    height: 3.5rem;
 }